Nifi/DBM_Examples.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>Twitter Retrieving data to MongoDb
Extracting HTML Tags from page
Getting binary data from Mongo (Nutch db) and decode</description>
    <groupId>8d6b68df-016a-1000-9d24-bd8e698c6ef7</groupId>
    <name>DBM Examples</name>
    <snippet>
        <controllerServices>
            <id>bcc43060-f532-3cc7-0000-000000000000</id>
            <parentGroupId>de2ba996-1777-3701-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-mongodb-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>mongo-uri</key>
                    <value>
                        <name>mongo-uri</name>
                    </value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                        <name>ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>ssl-client-auth</key>
                    <value>
                        <name>ssl-client-auth</name>
                    </value>
                </entry>
            </descriptors>
            <name>MongoDBControllerService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>mongo-uri</key>
                    <value>mongodb://oict-psgd-ett-azure-bot-mdb:liCAPEmWZEMXgUeaC6qmR38gCV9BFIuyOTEEAKDvUFh4x9Z18RPePuPrhE5EPNTqOxJ9imzt18VDmBBh6htXug==@oict-psgd-ett-azure-bot-mdb.documents.azure.com:10255/?ssl=true&amp;replicaSet=globaldb</value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                </entry>
                <entry>
                    <key>ssl-client-auth</key>
                    <value>NONE</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.mongodb.MongoDBControllerService</type>
        </controllerServices>
        <processGroups>
            <id>206c49f4-3fc9-3ba8-0000-000000000000</id>
            <parentGroupId>de2ba996-1777-3701-0000-000000000000</parentGroupId>
            <position>
                <x>420.0996742418545</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>19311516-ab6d-3bd7-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>206c49f4-3fc9-3ba8-0000-000000000000</groupId>
                        <id>e35a8e9b-1a4f-3378-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>206c49f4-3fc9-3ba8-0000-000000000000</groupId>
                        <id>f8386cb2-8de9-3ebd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>528e3b93-a5a4-38d7-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>206c49f4-3fc9-3ba8-0000-000000000000</groupId>
                        <id>54e0aa49-5f04-3657-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>206c49f4-3fc9-3ba8-0000-000000000000</groupId>
                        <id>3a7a6b26-5c0c-356d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6ecfce3c-98b5-3fbb-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>206c49f4-3fc9-3ba8-0000-000000000000</groupId>
                        <id>aa0e24db-a27b-3752-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>206c49f4-3fc9-3ba8-0000-000000000000</groupId>
                        <id>e35a8e9b-1a4f-3378-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>aaff3079-b151-3b62-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>206c49f4-3fc9-3ba8-0000-000000000000</groupId>
                        <id>9d436a90-1633-3894-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>206c49f4-3fc9-3ba8-0000-000000000000</groupId>
                        <id>aa0e24db-a27b-3752-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c6b87b4c-3eda-3726-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>206c49f4-3fc9-3ba8-0000-000000000000</groupId>
                        <id>f8386cb2-8de9-3ebd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>cc6e7eb6-aa3d-3559-0000-000000000000</groupId>
                        <id>388853b0-8110-33dd-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c82971f3-c2af-3d73-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>206c49f4-3fc9-3ba8-0000-000000000000</groupId>
                        <id>c970ea81-817c-3554-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>206c49f4-3fc9-3ba8-0000-000000000000</groupId>
                        <id>9d436a90-1633-3894-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fcb01664-75c3-3dc4-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>206c49f4-3fc9-3ba8-0000-000000000000</groupId>
                        <id>05833ba8-cad4-3468-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>206c49f4-3fc9-3ba8-0000-000000000000</groupId>
                        <id>c970ea81-817c-3554-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fdbed2fb-0a2c-3f0c-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>0</backPressureObjectThreshold>
                    <destination>
                        <groupId>cc6e7eb6-aa3d-3559-0000-000000000000</groupId>
                        <id>0d8b6d2c-2092-3385-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>206c49f4-3fc9-3ba8-0000-000000000000</groupId>
                        <id>54e0aa49-5f04-3657-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processGroups>
                    <id>cc6e7eb6-aa3d-3559-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <position>
                        <x>-357.7312861874951</x>
                        <y>-310.53998823877373</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>1b433a87-45cb-3fc6-0000-000000000000</id>
                            <parentGroupId>cc6e7eb6-aa3d-3559-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>0</backPressureObjectThreshold>
                            <destination>
<groupId>cc6e7eb6-aa3d-3559-0000-000000000000</groupId>
<id>388853b0-8110-33dd-0000-000000000000</id>
<type>OUTPUT_PORT</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>cc6e7eb6-aa3d-3559-0000-000000000000</groupId>
<id>6b8db36e-ca66-32f8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>5a8cf5f1-4b3d-323d-0000-000000000000</id>
                            <parentGroupId>cc6e7eb6-aa3d-3559-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>0</backPressureObjectThreshold>
                            <destination>
<groupId>cc6e7eb6-aa3d-3559-0000-000000000000</groupId>
<id>6b8db36e-ca66-32f8-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>cc6e7eb6-aa3d-3559-0000-000000000000</groupId>
<id>3dc9b65c-1c6d-3a7f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a5c29f2d-d811-3893-0000-000000000000</id>
                            <parentGroupId>cc6e7eb6-aa3d-3559-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>0</backPressureObjectThreshold>
                            <destination>
<groupId>cc6e7eb6-aa3d-3559-0000-000000000000</groupId>
<id>3dc9b65c-1c6d-3a7f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <source>
<groupId>cc6e7eb6-aa3d-3559-0000-000000000000</groupId>
<id>0d8b6d2c-2092-3385-0000-000000000000</id>
<type>INPUT_PORT</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <inputPorts>
                            <id>0d8b6d2c-2092-3385-0000-000000000000</id>
                            <parentGroupId>cc6e7eb6-aa3d-3559-0000-000000000000</parentGroupId>
                            <position>
<x>124.72107195448001</x>
<y>-1890.5322201599117</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>Incoming Flow Files</name>
                            <state>STOPPED</state>
                            <type>INPUT_PORT</type>
                        </inputPorts>
                        <outputPorts>
                            <id>388853b0-8110-33dd-0000-000000000000</id>
                            <parentGroupId>cc6e7eb6-aa3d-3559-0000-000000000000</parentGroupId>
                            <position>
<x>1005.2210719544798</x>
<y>-1887.852220159912</y>
                            </position>
                            <comments></comments>
                            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                            <name>SignedFlowFile</name>
                            <state>STOPPED</state>
                            <type>OUTPUT_PORT</type>
                        </outputPorts>
                        <processors>
                            <id>3dc9b65c-1c6d-3a7f-0000-000000000000</id>
                            <parentGroupId>cc6e7eb6-aa3d-3559-0000-000000000000</parentGroupId>
                            <position>
<x>31.87280535291751</x>
<y>-1734.5781478942868</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>arguments</key>
        <value>
            <name>arguments</name>
        </value>
    </entry>
    <entry>
        <key>base_url</key>
        <value>
            <name>base_url</name>
        </value>
    </entry>
    <entry>
        <key>oauth_consumer_key</key>
        <value>
            <name>oauth_consumer_key</name>
        </value>
    </entry>
    <entry>
        <key>oauth_consumer_secret</key>
        <value>
            <name>oauth_consumer_secret</name>
        </value>
    </entry>
    <entry>
        <key>oauth_nonce</key>
        <value>
            <name>oauth_nonce</name>
        </value>
    </entry>
    <entry>
        <key>oauth_signature</key>
        <value>
            <name>oauth_signature</name>
        </value>
    </entry>
    <entry>
        <key>oauth_signature_method</key>
        <value>
            <name>oauth_signature_method</name>
        </value>
    </entry>
    <entry>
        <key>oauth_timestamp</key>
        <value>
            <name>oauth_timestamp</name>
        </value>
    </entry>
    <entry>
        <key>oauth_token</key>
        <value>
            <name>oauth_token</name>
        </value>
    </entry>
    <entry>
        <key>oauth_token_secret</key>
        <value>
            <name>oauth_token_secret</name>
        </value>
    </entry>
    <entry>
        <key>oauth_version</key>
        <value>
            <name>oauth_version</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>arguments</key>
        <value>${target:substringAfter('?')}</value>
    </entry>
    <entry>
        <key>base_url</key>
        <value>${target:substringBefore('?')}</value>
    </entry>
    <entry>
        <key>oauth_consumer_key</key>
        <value>6wQYourConsumerKeyV8j8</value>
    </entry>
    <entry>
        <key>oauth_consumer_secret</key>
        <value>yBZJvYourConsumerSecretUK0IyeGRbw3TeHyQb</value>
    </entry>
    <entry>
        <key>oauth_nonce</key>
        <value>${UUID():replaceAll('-','')}</value>
    </entry>
    <entry>
        <key>oauth_signature</key>
        <value>TODO</value>
    </entry>
    <entry>
        <key>oauth_signature_method</key>
        <value>HMAC-SHA1</value>
    </entry>
    <entry>
        <key>oauth_timestamp</key>
        <value>${now():toNumber():substring(0,10)}</value>
    </entry>
    <entry>
        <key>oauth_token</key>
        <value>15001201-YourTOKENfYAwKPJdVqruwrkc</value>
    </entry>
    <entry>
        <key>oauth_token_secret</key>
        <value>aScZKtUxgjLb9YourTokenSecretM3N6iZIr</value>
    </entry>
    <entry>
        <key>oauth_version</key>
        <value>1.0</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>OAuth Parameters</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>6b8db36e-ca66-32f8-0000-000000000000</id>
                            <parentGroupId>cc6e7eb6-aa3d-3559-0000-000000000000</parentGroupId>
                            <position>
<x>912.2210719544801</x>
<y>-1740.4522201599118</y>
                            </position>
                            <bundle>
<artifact>nifi-scripting-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Script Engine</key>
        <value>
            <name>Script Engine</name>
        </value>
    </entry>
    <entry>
        <key>Script File</key>
        <value>
            <name>Script File</name>
        </value>
    </entry>
    <entry>
        <key>Script Body</key>
        <value>
            <name>Script Body</name>
        </value>
    </entry>
    <entry>
        <key>Module Directory</key>
        <value>
            <name>Module Directory</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Script Engine</key>
        <value>Groovy</value>
    </entry>
    <entry>
        <key>Script File</key>
    </entry>
    <entry>
        <key>Script Body</key>
        <value>import java.security.SignatureException
import javax.crypto.Mac
import javax.crypto.spec.SecretKeySpec

def flowFile = session.get()
if (!flowFile) return

def static hmac(String data, String key) throws java.security.SignatureException
{
  String result
  try {
    // get an hmac_sha1 key from the raw key bytes
    SecretKeySpec signingKey = new SecretKeySpec(key.getBytes(), "HmacSHA1");
    // get an hmac_sha1 Mac instance and initialize with the signing key
    Mac mac = Mac.getInstance("HmacSHA1");
    mac.init(signingKey);
    // compute the hmac on input data bytes
    byte[] rawHmac = mac.doFinal(data.getBytes());
    result= rawHmac.encodeBase64()
  } catch (Exception e) {
    throw new SignatureException("Failed to generate HMAC : " + e.getMessage());
  }
  return result
}

def attributes = flowFile.getAttributes()

// retrieve arguments of the target and split arguments
def arguments = attributes.arguments.tokenize('&amp;')
def method = attributes.method
def base_url = attributes.base_url
def consumerSecret = attributes.oauth_consumer_secret
def tokenSecret = attributes.oauth_token_secret

TreeMap map = [:]

for (String item : arguments) {
  def (key, value) = item.tokenize('=')
  map.put(key, value)
}

map.put("oauth_consumer_key", attributes.oauth_consumer_key)
map.put("oauth_nonce", attributes.oauth_nonce)
map.put("oauth_signature_method", attributes.oauth_signature_method)
map.put("oauth_timestamp", attributes.oauth_timestamp)
map.put("oauth_token", attributes.oauth_token)
map.put("oauth_version", attributes.oauth_version)

String.metaClass.encode = {
  java.net.URLEncoder.encode(delegate, "UTF-8").replace("+", "%20").replace("*", "%2A").replace("%7E", "~");
}

String parameterString = map.collect { String key, String value -&gt;
    "${key.encode()}=${value.encode()}"
}.join("&amp;")

String signatureBaseString = ""

signatureBaseString += method.toUpperCase()
signatureBaseString += '&amp;'
signatureBaseString += base_url.encode()
signatureBaseString += '&amp;'
signatureBaseString += parameterString.encode()

String signingKey = consumerSecret.encode() + '&amp;' + tokenSecret.encode()

String oauthSignature = hmac(signatureBaseString, signingKey)

flowFile = session.putAttribute(flowFile, 'oauth_signature', oauthSignature)

String oauth = 'OAuth '
oauth += 'oauth_consumer_key="'
oauth += attributes.oauth_consumer_key.encode()
oauth += '", '
oauth += 'oauth_nonce="'
oauth += attributes.oauth_nonce.encode()
oauth += '", '
oauth += 'oauth_signature="'
oauth += oauthSignature.encode()
oauth += '", '
oauth += 'oauth_signature_method="'
oauth += attributes.oauth_signature_method.encode()
oauth += '", '
oauth += 'oauth_timestamp="'
oauth += attributes.oauth_timestamp.encode()
oauth += '", '
oauth += 'oauth_token="'
oauth += attributes.oauth_token.encode()
oauth += '", '
oauth += 'oauth_version="'
oauth += attributes.oauth_version.encode()
oauth += '"'

flowFile = session.putAttribute(flowFile, 'oauth_header', oauth)

session.transfer(flowFile, REL_SUCCESS)</value>
    </entry>
    <entry>
        <key>Module Directory</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Create signature</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.script.ExecuteScript</type>
                        </processors>
                    </contents>
                    <name>OAuth1.0A</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>05833ba8-cad4-3468-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <position>
                        <x>963.8631561279294</x>
                        <y>-317.08917779922484</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>3a7a6b26-5c0c-356d-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <position>
                        <x>-309.88116359710693</x>
                        <y>-551.7089574432373</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Binary</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>20 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile Twitter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
                <processors>
                    <id>54e0aa49-5f04-3657-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.2939690808075</x>
                        <y>-557.0896898034729</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>method</key>
<value>
    <name>method</name>
</value>
                            </entry>
                            <entry>
<key>target</key>
<value>
    <name>target</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>target</key>
<value>https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=antonioguterres&amp;count=50&amp;exclude_replies=true&amp;include_rts=false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Defining target to request Twitter</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>9d436a90-1633-3894-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <position>
                        <x>426.7218849258104</x>
                        <y>276.73029983323795</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Attributes List</key>
<value>
    <name>Attributes List</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
<value>
    <name>attributes-to-json-regex</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>
    <name>Include Core Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>
    <name>Null Value</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Attributes List</key>
<value>id_str,text</value>
                            </entry>
                            <entry>
<key>attributes-to-json-regex</key>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-content</value>
                            </entry>
                            <entry>
<key>Include Core Attributes</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Null Value</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>AttributesToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.AttributesToJSON</type>
                </processors>
                <processors>
                    <id>aa0e24db-a27b-3752-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <position>
                        <x>572.9948099717311</x>
                        <y>-34.34344197410246</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>id_str</key>
<value>
    <name>id_str</name>
</value>
                            </entry>
                            <entry>
<key>text</key>
<value>
    <name>text</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>id_str</key>
<value>$.id_str</value>
                            </entry>
                            <entry>
<key>text</key>
<value>$.text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>c970ea81-817c-3554-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <position>
                        <x>1139.2512987136838</x>
                        <y>155.81562833786006</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>
    <name>Upsert</name>
</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>
    <name>Update Query Key</name>
</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
<value>
    <name>putmongo-update-query</name>
</value>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>
    <name>put-mongo-update-mode</name>
</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>
    <name>Write Concern</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
<value>bcc43060-f532-3cc7-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>mongodb://oict-psgd-ett-azure-bot-mdb:liCAPEmWZEMXgUeaC6qmR38gCV9BFIuyOTEEAKDvUFh4x9Z18RPePuPrhE5EPNTqOxJ9imzt18VDmBBh6htXug==@oict-psgd-ett-azure-bot-mdb.documents.azure.com:10255/?ssl=true&amp;replicaSet=globaldb</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>cognition</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>twitter</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>Mode</key>
<value>update</value>
                            </entry>
                            <entry>
<key>Upsert</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Update Query Key</key>
<value>id_str</value>
                            </entry>
                            <entry>
<key>putmongo-update-query</key>
                            </entry>
                            <entry>
<key>put-mongo-update-mode</key>
<value>doc</value>
                            </entry>
                            <entry>
<key>Write Concern</key>
<value>ACKNOWLEDGED</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutMongo</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.PutMongo</type>
                </processors>
                <processors>
                    <id>e35a8e9b-1a4f-3378-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <position>
                        <x>272.6272710219471</x>
                        <y>-291.1057326685441</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.*</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson Twitter</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>f8386cb2-8de9-3ebd-0000-000000000000</id>
                    <parentGroupId>206c49f4-3fc9-3ba8-0000-000000000000</parentGroupId>
                    <position>
                        <x>69.56508342254006</x>
                        <y>94.1272565221692</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>Authorization</key>
<value>
    <name>Authorization</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>${target}</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>text/plain</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                            <entry>
<key>Authorization</key>
<value>${oauth_header}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeHTTP Twitter</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
            </contents>
            <name>Twitter</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>4f978b56-ebf3-3c43-0000-000000000000</id>
            <parentGroupId>de2ba996-1777-3701-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>2.2205353775606227</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>7a6608e1-8363-354c-0000-000000000000</id>
                    <parentGroupId>4f978b56-ebf3-3c43-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1517.078369140625</x>
                        <y>1036.4993896484375</y>
                    </bends>
                    <destination>
                        <groupId>4f978b56-ebf3-3c43-0000-000000000000</groupId>
                        <id>7c98906f-f463-3b46-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>4f978b56-ebf3-3c43-0000-000000000000</groupId>
                        <id>5146e29c-2672-3cb8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c570a2fc-0a67-3c83-0000-000000000000</id>
                    <parentGroupId>4f978b56-ebf3-3c43-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4f978b56-ebf3-3c43-0000-000000000000</groupId>
                        <id>5146e29c-2672-3cb8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>4f978b56-ebf3-3c43-0000-000000000000</groupId>
                        <id>f5128494-f573-3001-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e3999544-7ae3-35b1-0000-000000000000</id>
                    <parentGroupId>4f978b56-ebf3-3c43-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>4f978b56-ebf3-3c43-0000-000000000000</groupId>
                        <id>db18c326-f7ef-3edf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>4f978b56-ebf3-3c43-0000-000000000000</groupId>
                        <id>7c98906f-f463-3b46-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>5146e29c-2672-3cb8-0000-000000000000</id>
                    <parentGroupId>4f978b56-ebf3-3c43-0000-000000000000</parentGroupId>
                    <position>
                        <x>1031.4290922212613</x>
                        <y>977.5518753011856</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>PATCH</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>https://www.un.org/sg/en/content/travels</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>text/html</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>InvokeHTTP</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>7c98906f-f463-3b46-0000-000000000000</id>
                    <parentGroupId>4f978b56-ebf3-3c43-0000-000000000000</parentGroupId>
                    <position>
                        <x>1633.806769754147</x>
                        <y>969.162169740857</y>
                    </position>
                    <bundle>
                        <artifact>nifi-html-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>URL</key>
<value>
    <name>URL</name>
</value>
                            </entry>
                            <entry>
<key>CSS Selector</key>
<value>
    <name>CSS Selector</name>
</value>
                            </entry>
                            <entry>
<key>HTML Character Encoding</key>
<value>
    <name>HTML Character Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Output Type</key>
<value>
    <name>Output Type</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Prepend Element Value</key>
<value>
    <name>Prepend Element Value</name>
</value>
                            </entry>
                            <entry>
<key>Append Element Value</key>
<value>
    <name>Append Element Value</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Name</key>
<value>
    <name>Attribute Name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>URL</key>
<value>https://www.un.org/sg/en/content/travels</value>
                            </entry>
                            <entry>
<key>CSS Selector</key>
<value>div.item-list &gt; ul &gt; li &gt; div</value>
                            </entry>
                            <entry>
<key>HTML Character Encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Output Type</key>
<value>HTML</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Prepend Element Value</key>
                            </entry>
                            <entry>
<key>Append Element Value</key>
                            </entry>
                            <entry>
<key>Attribute Name</key>
<value>htmlText</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetHTMLElement</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>element not found</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>invalid html</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.GetHTMLElement</type>
                </processors>
                <processors>
                    <id>db18c326-f7ef-3edf-0000-000000000000</id>
                    <parentGroupId>4f978b56-ebf3-3c43-0000-000000000000</parentGroupId>
                    <position>
                        <x>1673.127282445554</x>
                        <y>721.2003643610944</y>
                    </position>
                    <bundle>
                        <artifact>nifi-scripting-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Script Engine</key>
<value>
    <name>Script Engine</name>
</value>
                            </entry>
                            <entry>
<key>Script File</key>
<value>
    <name>Script File</name>
</value>
                            </entry>
                            <entry>
<key>Script Body</key>
<value>
    <name>Script Body</name>
</value>
                            </entry>
                            <entry>
<key>Module Directory</key>
<value>
    <name>Module Directory</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Script Engine</key>
<value>python</value>
                            </entry>
                            <entry>
<key>Script File</key>
                            </entry>
                            <entry>
<key>Script Body</key>
<value>import json
import java.io
from org.apache.commons.io import IOUtils
from java.nio.charset import StandardCharsets
from org.apache.nifi.processor.io import StreamCallback

class PyStreamCallback(StreamCallback):
  def __init__(self):
        pass
  def process(self, inputStream, outputStream):
    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)
    obj = json.loads(text)
    newObj = obj['content']['$binary']
#    outputStream.write(bytearray(json.dumps(newObj, indent=4).encode('utf-8'))) 
    outputStream.write(bytearray(newObj.encode('utf-8')))

flowFile = session.get()
if (flowFile != None):
  flowFile = session.write(flowFile,PyStreamCallback())
  session.transfer(flowFile, REL_SUCCESS)</value>
                            </entry>
                            <entry>
<key>Module Directory</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteScript</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.script.ExecuteScript</type>
                </processors>
                <processors>
                    <id>f5128494-f573-3001-0000-000000000000</id>
                    <parentGroupId>4f978b56-ebf3-3c43-0000-000000000000</parentGroupId>
                    <position>
                        <x>971.976638088759</x>
                        <y>700.7911371264762</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File Size</key>
<value>
    <name>File Size</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>
    <name>Data Format</name>
</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>
    <name>Unique FlowFiles</name>
</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
<value>
    <name>generate-ff-custom-text</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File Size</key>
<value>0B</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>Data Format</key>
<value>Text</value>
                            </entry>
                            <entry>
<key>Unique FlowFiles</key>
<value>false</value>
                            </entry>
                            <entry>
<key>generate-ff-custom-text</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>50 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                </processors>
            </contents>
            <name>Html Element</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>c0c11d81-f1b8-3bfa-0000-000000000000</id>
            <parentGroupId>de2ba996-1777-3701-0000-000000000000</parentGroupId>
            <position>
                <x>15.047289552535972</x>
                <y>237.5054100802613</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>22b0b8da-a4e7-3920-0000-000000000000</id>
                    <parentGroupId>c0c11d81-f1b8-3bfa-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c0c11d81-f1b8-3bfa-0000-000000000000</groupId>
                        <id>c9e05efb-7ecb-35ec-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c0c11d81-f1b8-3bfa-0000-000000000000</groupId>
                        <id>0ec6fb11-33c2-3c06-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2a590699-92b9-31b8-0000-000000000000</id>
                    <parentGroupId>c0c11d81-f1b8-3bfa-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c0c11d81-f1b8-3bfa-0000-000000000000</groupId>
                        <id>3fd00cc4-4fd0-38e9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c0c11d81-f1b8-3bfa-0000-000000000000</groupId>
                        <id>c9e05efb-7ecb-35ec-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b86a3365-1be1-3578-0000-000000000000</id>
                    <parentGroupId>c0c11d81-f1b8-3bfa-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>c0c11d81-f1b8-3bfa-0000-000000000000</groupId>
                        <id>0ec6fb11-33c2-3c06-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>c0c11d81-f1b8-3bfa-0000-000000000000</groupId>
                        <id>c1a2c03b-2acf-32e9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>0ec6fb11-33c2-3c06-0000-000000000000</id>
                    <parentGroupId>c0c11d81-f1b8-3bfa-0000-000000000000</parentGroupId>
                    <position>
                        <x>386.49306613696046</x>
                        <y>450.88261533765694</y>
                    </position>
                    <bundle>
                        <artifact>nifi-scripting-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Script Engine</key>
<value>
    <name>Script Engine</name>
</value>
                            </entry>
                            <entry>
<key>Script File</key>
<value>
    <name>Script File</name>
</value>
                            </entry>
                            <entry>
<key>Script Body</key>
<value>
    <name>Script Body</name>
</value>
                            </entry>
                            <entry>
<key>Module Directory</key>
<value>
    <name>Module Directory</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Script Engine</key>
<value>python</value>
                            </entry>
                            <entry>
<key>Script File</key>
                            </entry>
                            <entry>
<key>Script Body</key>
<value>import json
import java.io
from org.apache.commons.io import IOUtils
from java.nio.charset import StandardCharsets
from org.apache.nifi.processor.io import StreamCallback

class PyStreamCallback(StreamCallback):
  def __init__(self):
        pass
  def process(self, inputStream, outputStream):
    text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)
    obj = json.loads(text)
    newObj = obj['content']['$binary']
#    outputStream.write(bytearray(json.dumps(newObj, indent=4).encode('utf-8'))) 
    outputStream.write(bytearray(newObj.encode('utf-8')))

flowFile = session.get()
if (flowFile != None):
  flowFile = session.write(flowFile,PyStreamCallback())
  session.transfer(flowFile, REL_SUCCESS)</value>
                            </entry>
                            <entry>
<key>Module Directory</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteScript</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.script.ExecuteScript</type>
                </processors>
                <processors>
                    <id>3fd00cc4-4fd0-38e9-0000-000000000000</id>
                    <parentGroupId>c0c11d81-f1b8-3bfa-0000-000000000000</parentGroupId>
                    <position>
                        <x>1069.6221813939255</x>
                        <y>190.05426089467835</y>
                    </position>
                    <bundle>
                        <artifact>nifi-html-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>URL</key>
<value>
    <name>URL</name>
</value>
                            </entry>
                            <entry>
<key>CSS Selector</key>
<value>
    <name>CSS Selector</name>
</value>
                            </entry>
                            <entry>
<key>HTML Character Encoding</key>
<value>
    <name>HTML Character Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Output Type</key>
<value>
    <name>Output Type</name>
</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Prepend Element Value</key>
<value>
    <name>Prepend Element Value</name>
</value>
                            </entry>
                            <entry>
<key>Append Element Value</key>
<value>
    <name>Append Element Value</name>
</value>
                            </entry>
                            <entry>
<key>Attribute Name</key>
<value>
    <name>Attribute Name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>URL</key>
                            </entry>
                            <entry>
<key>CSS Selector</key>
                            </entry>
                            <entry>
<key>HTML Character Encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Output Type</key>
<value>HTML</value>
                            </entry>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Prepend Element Value</key>
                            </entry>
                            <entry>
<key>Append Element Value</key>
                            </entry>
                            <entry>
<key>Attribute Name</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetHTMLElement</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>element not found</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>invalid html</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.GetHTMLElement</type>
                </processors>
                <processors>
                    <id>c1a2c03b-2acf-32e9-0000-000000000000</id>
                    <parentGroupId>c0c11d81-f1b8-3bfa-0000-000000000000</parentGroupId>
                    <position>
                        <x>489.27067221707046</x>
                        <y>208.3109114395461</y>
                    </position>
                    <bundle>
                        <artifact>nifi-mongodb-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>mongo-client-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.mongodb.MongoDBClientService</identifiesControllerService>
    <name>mongo-client-service</name>
</value>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>
    <name>Mongo URI</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>
    <name>Mongo Database Name</name>
</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>
    <name>Mongo Collection Name</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                            <entry>
<key>json-type</key>
<value>
    <name>json-type</name>
</value>
                            </entry>
                            <entry>
<key>use-pretty-printing</key>
<value>
    <name>use-pretty-printing</name>
</value>
                            </entry>
                            <entry>
<key>mongo-charset</key>
<value>
    <name>mongo-charset</name>
</value>
                            </entry>
                            <entry>
<key>Query</key>
<value>
    <name>Query</name>
</value>
                            </entry>
                            <entry>
<key>mongo-query-attribute</key>
<value>
    <name>mongo-query-attribute</name>
</value>
                            </entry>
                            <entry>
<key>Projection</key>
<value>
    <name>Projection</name>
</value>
                            </entry>
                            <entry>
<key>Sort</key>
<value>
    <name>Sort</name>
</value>
                            </entry>
                            <entry>
<key>Limit</key>
<value>
    <name>Limit</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>results-per-flowfile</key>
<value>
    <name>results-per-flowfile</name>
</value>
                            </entry>
                            <entry>
<key>mongo-date-format</key>
<value>
    <name>mongo-date-format</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>mongo-client-service</key>
                            </entry>
                            <entry>
<key>Mongo URI</key>
<value>mongodb://localhost:27017</value>
                            </entry>
                            <entry>
<key>Mongo Database Name</key>
<value>nutchdb</value>
                            </entry>
                            <entry>
<key>Mongo Collection Name</key>
<value>webpage</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>json-type</key>
<value>Extended</value>
                            </entry>
                            <entry>
<key>use-pretty-printing</key>
<value>true</value>
                            </entry>
                            <entry>
<key>mongo-charset</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Query</key>
<value>{ "_id" : "org.un.www:https/sg/en/content/travels?page=6" }</value>
                            </entry>
                            <entry>
<key>mongo-query-attribute</key>
                            </entry>
                            <entry>
<key>Projection</key>
<value>{"content":1}</value>
                            </entry>
                            <entry>
<key>Sort</key>
                            </entry>
                            <entry>
<key>Limit</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
                            </entry>
                            <entry>
<key>results-per-flowfile</key>
                            </entry>
                            <entry>
<key>mongo-date-format</key>
<value>yyyy-MM-dd'T'HH:mm:ss'Z'</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>50 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetMongo</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.mongodb.GetMongo</type>
                </processors>
                <processors>
                    <id>c9e05efb-7ecb-35ec-0000-000000000000</id>
                    <parentGroupId>c0c11d81-f1b8-3bfa-0000-000000000000</parentGroupId>
                    <position>
                        <x>1075.3556854150063</x>
                        <y>473.6687228358561</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Mode</key>
<value>
    <name>Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Mode</key>
<value>Decode</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Base64EncodeContent</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.Base64EncodeContent</type>
                </processors>
            </contents>
            <name>Decode BinData Mongo</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>05/10/2019 16:14:32 EDT</timestamp>
</template>
